.modal-body, #Panel-content, form > textarea, .nested-form > textarea {
    scrollbar-color: var(--primary-color) #c2c2c2;
    scrollbar-width: thin;
}

.dropdown-menu {
    overflow: auto;
    scrollbar-color: #c2c2c2 var(--primary-color);
    scrollbar-width: thin;
    height: 200px;
}

.dropdown-item {
    cursor: pointer;
    color: var(--secondary-color);
    transition: 0.3s ease-out;
    font-size: 0.9em!important;
}

.dropdown-item:hover {
    background-color: transparent;
    color: var(--border-color) !important;
}

#Panel-content::-webkit-scrollbar, .modal-body::-webkit-scrollbar,
form > textarea::-webkit-scrollbar, .nested-form > textarea::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    background-color: #c2c2c2;
    border-radius: 20px;
}

.dropdown-menu::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    background-color: var(--primary-color);
    border-radius: 10px;
}

#Panel-content::-webkit-scrollbar-thumb, .modal-body::-webkit-scrollbar-thumb,
form > textarea::-webkit-scrollbar-thumb, .nested-form > textarea::-webkit-scrollbar-thumb {
    background-color: var(--primary-color);
    border-radius: 20px;
}

.dropdown-menu::-webkit-scrollbar-thumb {
    background-color: #c2c2c2;
    border-radius: 10px;
}

#Panel-content::-webkit-scrollbar-corner, .modal-body::-webkit-scrollbar-corner,
.nested-form > textarea::-webkit-scrollbar-corner, form > textarea::-webkit-scrollbar-corner {
    background-color: #c2c2c2;
}

.dropdown-menu::-webkit-scrollbar-corner {
    background-color: var(--primary-color);
}

.Tool, #panel-header, #deletion-modal-label, #report-modal-label {
    background: var(--primary-color);
    border-radius: 10px;
}

.Event-panel-item > img {
    width: 300px;
}

.view-item, .view-item-static {
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 0 1px 5px var(--primary-color);
    transition: 0.3s ease-out;
    margin-bottom: 16px;
    margin-left: 10px;
    margin-right: 10px;
}

.view-item:first-child, .view-item-static:first-child {
    margin-top: 10px;
}

.view-item > img, .view-item-static > img {
    width: 50px;
    border-radius: 10px;
}

form {
    font-family: 'Roboto', sans-serif;
    margin: 10px;
    max-width: 700px;
}

form > label, .nested-form > label {
    color: var(--primary-color);
    font-weight: bold;
    margin-bottom: 2px;
}

form > input, .nested-form > input,
form > textarea, .nested-form > textarea {
    color: var(--on-secondary-color);
    margin-bottom: 10px;
    border-radius: 10px;
    border: 1px solid var(--primary-color);
    box-shadow: 0 1px 3px transparent;
    padding: 5px;
    outline: none;
}

form > input:focus, .nested-form > input:focus,
form > textarea:focus, .nested-form > textarea:focus {
    box-shadow: 0 1px 3px var(--primary-color);
}

form > input[type=date], .nested-form > input[type=time] {
    width: 200px;
}

form > input[type=file] {
    width: 400px;
}

form > textarea, .nested-form > textarea {
    min-height: 150px;
}

form > img {
    border-radius: 10px;
    width: 400px;
}

form > button, .modal-footer > button {
    padding: 10px 20px;
    margin: 36px auto 10px auto;
    background-color: var(--primary-color);
    border-style: none;
    border-radius: 20px;
    transition: 0.3s ease-out;
}

form > button:hover, .modal-footer > button:hover {
    background-color: var(--border-color);
}

.nested-form {
    margin-bottom: 30px;
    padding: 10px;
    border-radius: 10px;
    background-color: var(--nested-form-color);
}

.nested-form:last-child {
    margin-bottom: 0;
}

.nested-form > .Tool, form > .Tool {
    margin: 10px auto!important;
    justify-content: center!important;
    font-size: 0.8em;
}

.nested-form-header {
    margin-bottom: 20px;
}

.nested-form-header > div:first-child {
    margin-bottom: 0.25rem;
    background-color: var(--primary-color);
    font-weight: bold;
    padding: 6px;
    margin-right: 10px;
    border-radius: 10px;
}

.nested-menu {
    inset-inline: auto 3vmin;
    inset-block: auto 50vmin;
    border-radius: 10px;
    background-color: var(--primary-color);
    animation: nested-menu-reveal 0.3s ease-out 0s 1 forwards;
}

.nested-floating-button, .nested-menu > i {
    color: var(--secondary-color);
    font-size: 2em;
    transition: 0.3s ease-out;
    cursor: pointer;
}

.nested-floating-button {
    inset-inline: auto 10vmin;
    inset-block: auto 60vmin;
    background-color: var(--primary-color);
    border-radius: 100%;
    animation: floating-button-reveal 1s ease-out 0s 1 forwards;
}

.nested-menu > i {
    margin-left: auto;
}

@keyframes nested-menu-reveal {
    from {
        opacity: 0;
        transform: translateX(100px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes floating-button-reveal {
    0% {
        opacity: 0;
        transform: translateY(100px);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        opacity: 1;
        transform: translateY(0) scale(1);
    }
}

.nested-button, .nested-button > button {
    margin-right: auto;
    justify-content: center;
    border-style: none;
    background-color: transparent;
    border-radius: 10px;
    transition: 0.3s ease-out;
    margin-bottom: 10px;
}

.nested-button:hover, .nested-menu > i:hover, .nested-button > button:hover {
    color: var(--border-color) !important;
}

.nested-floating-button:hover {
    background-color: var(--border-color);
}

.nested-button:last-child {
    margin-bottom: 0;
}

.nested-button:disabled, .nested-button > button:disabled,
form > button:disabled, .modal-footer > button:disabled {
    opacity: 0.5;
}

.nested-button > ul {
    background-color: var(--primary-color);
    padding: 10px;
    border-style: none;
    border-radius: 10px;
    transition: 0.3s ease-out;
}

.dropdown-toggle::before {
    display: flex!important;
    margin: auto 10px auto 0!important;
}

.report-label {
    font-size: 1.2em;
}

.wrap-form-block {
    display: flex;
    background-color: var(--on-primary-color);
    border-radius: 10px;
    padding: 5px 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.wrap-form-block:first-child {
    margin-top: 0;
}

#error-message {
    border-radius: 10px;
    background-color: red;
}