#Admin-page {
    background: var(--secondary-color);
}

#Admin-header {
    background: var(--primary-color);
    z-index: 1000;
}

#Admin-header > div > image {
    cursor: pointer;
}

#Admin-header > div > button {
    background: var(--border-color);
    transition: 0.3s ease-out;
    border-radius: 20px;
    border-style: none;
}

#Admin-header > div > button:hover {
    box-shadow: 0 2px 8px var(--secondary-color);
}

#Admin-menu {
    flex-shrink: 2;
    z-index: 99;
    flex: 0 0 auto;
    width: 20%;
}

#admin-menu-content {
    border-radius: 20px;
    background: var(--primary-color);
}

.Admin-menu-item {
    cursor: pointer;
    color: var(--secondary-color);
}

.Admin-menu-item > i {
    font-size: 2em;
    transition: 0.3s ease-out;
}

.Admin-menu-item > span {
    transition: 0.3s ease-out;
}

#Warning-label > i {
    font-size: 3.4em;
    color: var(--border-color);
    transform: rotateZ(15deg);
    position: relative;
    top: -60px;
    left: 60px;
}

#Admin-viewport {
    height: 100vh;
}

#Admin-edit-panel {
    animation: admin-edit-panel-reveal 0.5s ease-out 0s 1 forwards;
}

@keyframes admin-edit-panel-reveal {
    from {
        opacity: 0;
        transform: scale(0);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

#Panel-content {
    flex: 1;
    position: relative;
    overflow: auto;
}

.modal-body, #Panel-content {
    scrollbar-color: var(--primary-color) #c2c2c2;
    scrollbar-width: thin;
}

#Panel-content::-webkit-scrollbar, .modal-body::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    background-color: #c2c2c2;
    border-radius: 20px;
}

#Panel-content::-webkit-scrollbar-thumb, .modal-body::-webkit-scrollbar-thumb {
    background-color: var(--primary-color);
    border-radius: 20px;
}

#Panel-content::-webkit-scrollbar-corner, .modal-body::-webkit-scrollbar-corner {
    background-color: #c2c2c2;
}

.Tool {
    cursor: pointer;
    transition: 0.3s ease-out;
}

.tool-anim {
    animation: tool-reveal 0.3s ease-out 0s 1 forwards;
}

.tool-anim-back {
    animation: tool-reveal 0.3s ease-out 0s 1 backwards;
}

@keyframes tool-reveal {
    from {
        transform: translateX(100px);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}


.Tool:hover {
    background-color: var(--border-color);
}

.Tool > i {
    color: var(--secondary-color);
    font-size: 1.5em;
}

.Tool, #panel-header, #deletion-modal-label {
    background: var(--primary-color);
    border-radius: 10px;
}

.Event-panel-item > img {
    width: 300px;
}

.view-item, .view-item-static {
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 0 1px 5px var(--primary-color);
    transition: 0.3s ease-out;
    margin-bottom: 16px;
    margin-left: 10px;
    margin-right: 10px;
}

.view-item:first-child, .view-item-static:first-child {
    margin-top: 10px;
}

.view-item > img, .view-item-static > img {
    width: 50px;
    border-radius: 10px;
}

form {
    font-family: 'Roboto', sans-serif;
    margin: 10px;
    max-width: 700px;
}

form > label {
    color: var(--primary-color);
    font-weight: bold;
    margin-bottom: 2px;
}

form > input {
    color: var(--on-secondary-color);
    margin-bottom: 10px;
    border-radius: 10px;
    border: 1px solid var(--primary-color);
    box-shadow: 0 1px 3px transparent;
    padding: 5px;
    outline: none;
}

form > input:focus {
    box-shadow: 0 1px 3px var(--primary-color);
}

form > input[type=date] {
    width: 200px;
}

form > input[type=file] {
    width: 400px;
}

form > img {
    border-radius: 10px;
    width: 400px;
}

form > button, .modal-footer > button {
    padding: 10px 20px;
    margin: 36px auto 10px auto;
    background-color: var(--primary-color);
    border-style: none;
    border-radius: 20px;
    transition: 0.3s ease-out;
}

form > button:hover, .modal-footer > button:hover {
    background-color: var(--border-color);
}

#error-message {
    border-radius: 10px;
    background-color: red;
}

#Hint {
    border-radius: 10px;
    background-color: var(--on-primary-color);
    animation: hint-reveal 0.3s ease-out 0s 1 forwards;
}

@keyframes hint-reveal {
    from {
        opacity: 0;
        transform: translateY(100px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@media screen and (max-width: 1200px) {
    #Admin-menu {
        flex: 1;
        width: auto;
    }
}