#Admin-header {
    background: var(--primary-color);
    z-index: 1000;
}

#Admin-header > div > image {
    cursor: pointer;
}

#Admin-header > div > div > button {
    background: var(--border-color);
    transition: 0.3s ease-out;
    border-radius: 20px;
    border-style: none;
}

#Admin-header > div > div > button:hover {
    box-shadow: 0 2px 8px var(--secondary-color);
}