#Panel-content, form > textarea, .nested-form > textarea {
    scrollbar-color: var(--primary-color) #c2c2c2;
    scrollbar-width: thin;
}

.dropdown-menu {
    overflow: auto;
    scrollbar-color: #c2c2c2 var(--primary-color);
    scrollbar-width: thin;
    height: 200px;
}

.dropdown-item {
    cursor: pointer;
    color: var(--secondary-color);
    transition: 0.3s ease-out;
    font-size: 0.9em!important;
}

.dropdown-item:hover {
    background-color: transparent;
    color: var(--border-color) !important;
}

#Panel-content::-webkit-scrollbar,
form > textarea::-webkit-scrollbar, .nested-form > textarea::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    background-color: #c2c2c2;
    border-radius: 20px;
}

.dropdown-menu::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    background-color: var(--primary-color);
    border-radius: 10px;
}

#Panel-content::-webkit-scrollbar-thumb,
form > textarea::-webkit-scrollbar-thumb, .nested-form > textarea::-webkit-scrollbar-thumb {
    background-color: var(--primary-color);
    border-radius: 20px;
}

.dropdown-menu::-webkit-scrollbar-thumb {
    background-color: #c2c2c2;
    border-radius: 10px;
}

#Panel-content::-webkit-scrollbar-corner,
.nested-form > textarea::-webkit-scrollbar-corner, form > textarea::-webkit-scrollbar-corner {
    background-color: #c2c2c2;
}

.dropdown-menu::-webkit-scrollbar-corner {
    background-color: var(--primary-color);
}

.Tool, #panel-header, #deletion-modal-label, #report-modal-label {
    background: var(--primary-color);
    border-radius: 10px;
}

.Event-panel-item > img {
    width: 300px;
}

.view-item, .view-item-static {
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 0 1px 5px var(--primary-color);
    transition: 0.3s ease-out;
    margin-bottom: 16px;
    margin-left: 10px;
    margin-right: 10px;
}

.view-item:first-child, .view-item-static:first-child {
    margin-top: 10px;
}

.view-item > img, .view-item-static > img {
    width: 50px;
    border-radius: 10px;
}

.dropdown-toggle::before {
    display: flex!important;
    margin: auto 10px auto 0!important;
}

.nested-label {
    font-size: 1.2em;
}

#error-message {
    border-radius: 10px;
    background-color: red;
}