form {
    margin-top: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
span {
    color: white;
}
div div {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}
h3 {
    margin-bottom: 50px;
    color: white;
}