.Carousel {
    margin-left: 96px;
    margin-right: 96px;
}

.Carousel-list {
    background-color: var(--on-primary-color);
    box-shadow: 0 3px 10px var(--border-color);
    border-radius: 30px;
    overflow: hidden;
}

.Carousel-slider-box {
    background-color: var(--on-primary-color);
    border-color: var(--border-color);
    box-shadow: 0 3px 4px var(--border-color);
    border-radius: 0 0 30px 30px;
}

.carousel-indicators [data-bs-target] {
    width: 15px;
    height: 15px;
    background-color: var(--secondary-color);
    border: 2px solid var(--border-color);
    border-radius: 100%;
    transition: 0.3s ease-out;
    opacity: 1;
}

.carousel-indicators {
    position: relative!important;
}

.carousel-indicators .active {
    background-color: var(--border-color);
}