.regular-text, .semi-header-text, .header-text, .caption-text,
.caption-header-text, .footer-text, .footer-header-text {
    font-family: 'Roboto', sans-serif;
    color: var(--secondary-color);
    letter-spacing: 1px;
}

.table-header-text, .table-data-text, .table-main-data-text {
    font-family: 'Roboto', sans-serif;
    font-size: 0.9em;
}

.table-main-data-text, .table-data-text {
    color: var(--on-secondary-color);
}

.table-header-text {
    color: var(--secondary-color);
}

.caption-text, .caption-header-text {
    opacity: 0.75;
}

.semi-header-text, .header-text, .caption-header-text,
.table-header-text, .table-main-data-text, .footer-text, .footer-header-text {
    font-weight: bold;
}

.semi-header-text, .regular-text, .footer-text {
    font-size: 1.1em;
}

.header-text, .footer-header-text {
    font-size: 1.3em;
}

.hovered {
    color: var(--border-color)!important;
}

.purple-letter {
    color: var(--border-color);
}

.container-gap {
    margin-bottom: 150px;
}

.neon {
    box-shadow: 0 3px 5px var(--border-color);
}

.selected-view-item {
    background-color: #262662AA;
}

.error {
    box-shadow: 0 1px 3px red!important;
    border-color: red;
    animation: error-detection 0.5s ease-out 0s 1 forwards;
}

@keyframes error-detection {
    from {
        transform: translateY(-10px);
    }
    to {
        transform: translateY(0);
    }
}

.hidden {
    display: none!important;
}

.highlight {
    animation: highlight-item 1s ease-out 0s 1 forwards;
}

@keyframes highlight-item {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}