.item-data > img {
    border-radius: 30px;
}

.item-data > div > span {
    font-family: 'Roboto', sans-serif;
    color: var(--secondary-color);
    font-size: 1.2em;
    letter-spacing: 1px;

}

.item-data > div > span:last-child {
    font-size: 1.5em;
    font-weight: bold;
}