#Footer{
    color: var(--secondary-color);
}

#Contacts{
    font-size: 34px;
    margin-left: 40px;
    margin-top: 20px;
    font-weight: bold;
    color: var(--secondary-color);
    
}

#Contact_block{
    margin-top: 30px;
    margin-left: 40px;
    color: var(--secondary-color);
}

#Security_block{
    height: 52px;
    margin-left: 350px;
    margin-right: 350px;
    margin-top: -40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-color);
    opacity: .7;
    border-radius: 50px 50px 0px 0px;
    text-align: center;
    font-size: 12px;
}

.Info_block{
    height: 90px;
    background-color: var(--primary-color);
    opacity: .7;
    padding: 10px;
}

.Info_block > h2 a, #History > a {
    transition: 0.3s ease-out;
}

.Info_block > h2 a, #History > a {
    color: var(--secondary-color);
}

.Info_block > h2 a:hover, #History > a:hover {
    color: var(--border-color);
}

.Icon{
    height: 50px;
    width: 50px;
}

#Line{
    height: .3px;
    background-color: var(--secondary-color);
}

#History{
    height: 70px;
    background-color: var(--primary-color);
    opacity: .7;
    display: flex;
    align-items: center;
}

#Icon_arrow{
    color: var(--secondary-color);
    font-size: 2em;
    transition: color 0.3s ease;
}

#Block_arrow{
    height: 40px;
    width: 140px;
    background-color: #000046;
    opacity: .7;
    border-radius: 10px;
}

#Block_arrow.custom-block span {
    font-family: "hisqaida_2018bold";
    font-size: 12px;
    margin-left: auto;
    margin-right: auto;
}

#Block_arrow:hover #Icon_arrow {
    color: #E606B3;
}