#Footer{
    color: var(--secondary-color);
}

#Contacts{
    margin-top: 30px;
    margin-left: 40px;
    color: var(--secondary-color);
}

#Contacts > h1 {
    font-size: 1.8em;
}

#Security_block{
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-color);
    opacity: .7;
    border-radius: 50px 50px 0px 0px;
    text-align: center;
    font-size: 12px;
}

#Info{
    background-color: var(--primary-color);
    opacity: .7;
    padding: 10px;
}

#Info > h2 a, #History > a {
    transition: 0.3s ease-out;
}

#Info > h2 a, #History > a {
    color: var(--secondary-color);
}

#Info > h2 a:hover, #History > a:hover {
    color: var(--border-color);
}

#Info > img {
    cursor: pointer;
}

.Icon{
    height: 50px;
    width: 50px;
    transition: 0.3s ease-out;
}

.Icon:hover {
    transform: scale(1.1);
}


#Line{
    height: .3px;
    background-color: var(--secondary-color);
}

#History{
    height: 70px;
    background-color: var(--primary-color);
    opacity: .7;
    display: flex;
    align-items: center;
}

#Icon_arrow{
    font-size: 2em;
}

#Block_arrow{
    height: 40px;
    width: 140px;
    background-color: var(--primary-color);
    opacity: .7;
    border-radius: 10px;
}

#Block_arrow.custom-block span {
    font-family: "hisqaida_2018bold";
    font-size: 12px;
    margin-left: auto;
    margin-right: auto;
}

#Floating-button {

    animation: floating-button 0.8s ease-out 0s infinite forwards alternate;
}

@keyframes floating-button {
    from {
        transform: translateY(10px);
    }
    to {
        transform: translateY(-20px);
    }
}