form {
    font-family: 'Roboto', sans-serif;
    margin: 10px;
    max-width: 700px;
}

form > label, .nested-form > label, .nested-label {
    color: var(--primary-color);
    font-weight: bold;
    margin-bottom: 2px;
}

form > input, .nested-form > input,
form > textarea, .nested-form > textarea, form > select {
    color: var(--on-secondary-color);
    margin-bottom: 10px;
    border-radius: 10px;
    border: 1px solid var(--primary-color);
    box-shadow: 0 1px 3px transparent;
    padding: 5px;
    outline: none;
}

form > input:focus, .nested-form > input:focus,
form > textarea:focus, .nested-form > textarea:focus, form > select:focus {
    box-shadow: 0 1px 3px var(--primary-color);
}

form > input[type=date], .nested-form > input[type=time] {
    width: 200px;
}

form > input[type=file] {
    width: 400px;
}

form > textarea, .nested-form > textarea {
    min-height: 150px;
}

form > img {
    border-radius: 10px;
    width: 400px;
}

form > button, .modal-footer > button {
    padding: 10px 20px;
    margin: 36px auto 10px auto;
    background-color: var(--primary-color);
    border-style: none;
    border-radius: 20px;
    transition: 0.3s ease-out;
}

form > button:hover, .modal-footer > button:hover {
    background-color: var(--border-color);
}

.nested-form {
    margin-bottom: 30px;
    padding: 10px;
    border-radius: 10px;
    background-color: var(--nested-form-color);
}

.nested-form:last-child {
    margin-bottom: 0;
}

.nested-form > .Tool, form > .Tool {
    margin: 10px auto!important;
    justify-content: center!important;
    font-size: 0.8em;
}

.nested-form-header {
    margin-bottom: 20px;
}

.nested-form-header > div:first-child {
    margin-bottom: 0.25rem;
    background-color: var(--primary-color);
    font-weight: bold;
    padding: 6px;
    margin-right: 10px;
    border-radius: 10px;
}

.nested-menu {
    inset-inline: auto 3vmin;
    inset-block: auto 50vmin;
    border-radius: 10px;
    background-color: var(--primary-color);
    animation: nested-menu-reveal 0.3s ease-out 0s 1 forwards;
}

.nested-floating-button, .nested-menu > i {
    color: var(--secondary-color);
    font-size: 2em;
    transition: 0.3s ease-out;
    cursor: pointer;
}

.nested-floating-button {
    inset-inline: auto 10vmin;
    inset-block: auto 60vmin;
    background-color: var(--primary-color);
    border-radius: 100%;
    animation: floating-button-reveal 1s ease-out 0s 1 forwards;
}

.nested-menu > i {
    margin-left: auto;
}

@keyframes nested-menu-reveal {
    from {
        opacity: 0;
        transform: translateX(100px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes floating-button-reveal {
    0% {
        opacity: 0;
        transform: translateY(100px);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        opacity: 1;
        transform: translateY(0) scale(1);
    }
}

.nested-button, .nested-button > button {
    margin-right: auto;
    justify-content: center;
    border-style: none;
    background-color: transparent;
    border-radius: 10px;
    transition: 0.3s ease-out;
    margin-bottom: 10px;
}

.nested-button:hover, .nested-menu > i:hover, .nested-button > button:hover {
    color: var(--border-color) !important;
}

.nested-floating-button:hover {
    background-color: var(--border-color);
}

.nested-button:last-child {
    margin-bottom: 0;
}

.nested-button:disabled, .nested-button > button:disabled,
form > button:disabled, .modal-footer > button:disabled {
    opacity: 0.5;
}

.nested-button > ul {
    background-color: var(--primary-color);
    padding: 10px;
    border-style: none;
    border-radius: 10px;
    transition: 0.3s ease-out;
}

#Register-form {
    margin-bottom: 150px;
}

#Register-form > form {
    border-radius: 20px;
    background-color: var(--on-primary-color);
}

#Register-form > form > label {
    margin-top: 10px;
}

#Register-form > form > div {
    font-size: 0.8em;
}

#Register-form > form > div > label {
    margin-right: 10px;
}

.info-label {
    font-size: 0.75em!important;
    margin-top: 0!important;
}

#Register-form > form > label, #Register-form > form > span {
    font-size: 0.85em;
}