#News {
    margin-top: 0;
    margin-right: auto;
    margin-left: auto;
    max-width: 1400px;
}

#news-block {
    background-color: var(--on-primary-color);
    box-shadow: 0 3px 10px var(--border-color);
    border-radius: 30px;
}