.Organizer-container {
    display: flex;
    align-items: center;
}
.organizer-block {
    background-color: var(--on-primary-color);
    box-shadow: 0 3px 10px var(--border-color);
    border-radius: 30px;
}

.organizer-text {
    /*margin-top: 10px;*/
    color: var(--secondary-color);
}

.organizer-heading {
    margin-top: 30px;
    font-size: 22px;
    font-weight: bold;
    text-transform: uppercase;
}

.organizer-subheading {
    margin-top: 15px;
    font-size: 22px;
    font-weight: bold;
}

.organizer-description {
    margin-top: -6px;
    font-size: 18px;
    font-weight: bold;
}
